.DS_Store
README-RESPALDO.md
.codegpt
evaluaciones/
semanas/
semana-01/material-semana/
semana-02/material-semana/
semana-02/material-semana/
semana-02/index.php

semana-03/material-semana/
semana-03/db/
semana-03/guion-clase.md
semana-04/material-semana
semana-04/demostracion-db/
semana-05/blog
semana-05/metarial-semana
semana-05/Persona.php
semana-05/guion-clase.md
semana-05/sql/
semana-06/metarial-semana
semana-06/blog/
semana-06/proyecto-cms/
semana-06/material-semana/
semana-07/
semana-08/
semana-09/
semana-02/creando-CMS/.agents/
semana-02/creando-CMS/.kiro/
semana-02/creando-CMS/skills-lock.json